*, *::after, *::before{
    box-sizing: border-box;
    font-family: monospace;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(22, 2, 2), rgb(70, 39, 39));
}

#app{
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    .prev-op{
        color: rgba(255, 165, 0, .6);
        font-size: 1.5em;
    }
    .curr-op{
        color: white;
        font-size: 2.5em;
    }
}

button{
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    outline: 0;
    border-radius: 7%;
    border: 2px black solid;
    &:hover{
        background-color: #c5a1a1
    }
    &:active{
        background-color: #8b6767;
        color: white;
    }
}

#clear, #equals{
    background-color: rgb(155, 39, 39);
    color: black;
    &:hover{
        color: white;
    }
    &:active{
        background-color: rgb(97, 26, 26);
    }
}
p{
    grid-column: 1 / -1;
    color: rgb(247, 229, 229);
    font-size: 1.5em;
    text-align: center;
}